
body {
    font-family: 'Noto Sans KR', sans-serif;
    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */
    width: 1008px;
    margin: 0 auto;
}

/* header */
header {
    height: 180px;
}


.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 38px;
    font-size: 13px;
    width: 1008px;
}

a:link {
    text-decoration: none;
    color: #666;
}

a:visited {
    text-decoration: none;
    color: #666;
}



.header1_left {
    text-align: left;
    padding-left: 20px;
}

.header1_left a:hover{
    transition: .1s;
    color: #00d344;
    text-decoration: none;

}

.header1_right {
    text-align: right;
    display: flex;
    font-weight: 600;
}

.header1_right li {
    padding: 0 20px;
}

.header1_right a:hover{
    transition: .1s;
    color: black;
    text-decoration: none;

}

.header1_border {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
}

.header2 {
    padding-bottom: 40px;
    width: 1008px;
    height: 50px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.header2_left1 > img {
    width: 140px;
    height: 45px;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 30px;
    text-align: left;
    float: left;
    
}


.header2 .header2_left2 {
    
    display: flex;
    position: relative;
    left: 20px;
    padding-top: 32px;
}

.header2 .header2_left2 input {
    border-radius: 100px;
    position: absolute;
    width: 295px;
    height: 25px;
    border: 2px solid #00d344;
    padding: 5px 10px;
}

.header2 .header2_left2 .material-icons {
    color: #00d344;
    position: absolute;
    left: 285px;
    padding-top: 8px;
    cursor: pointer;
}

.header2_right1 > img {
    width: 42px;
    cursor: pointer;
    padding-left: 355px;
    padding-top: 10px;
}

.header2_right2 {
    display: inline-block;
    width: 160px;
    height: 20px;
    float: right;
    align-items: center;
    margin-right: 275px;
    margin: -20px 275px;
    cursor: pointer;
    border: 1px solid #666;
    box-sizing: border-box;
    
}

.header2_right2:hover {
    display: none;
}

.chart {
    display: none;
    width: 160px;
    height: 80px;
    margin-right: 275px;
    margin: -20px 275px;
    cursor: pointer;
    box-sizing: border-box;
}

.header2_right2:hover > .chart ul li{
    position: absolute;
    display: block;
}


/* 슬라이드 차트에 마우스 갖다대면 슬라이드 차트 사라지고 급상승 1위부터 10위까지 보이는(chart) 표 보이게 하기 */

/* 이벤트배너 만들기 */
.header2_right3 {
    width: 275px;
    height: 75px;
    float: right;
    margin-top: -50px;
    background: lightpink;
}



.header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: #FFFFFF;
    height: 38px;
    font-size: 15px;
    padding-bottom: 10px;

}

.header3_left{
    text-align: left;
    display: flex;
    color: black;
    font-weight: 900;
    position: relative;
}

.header3_left li {
    padding: 0 15px;
}

.header3_left a:hover{
    transition: .1s;
    color: #00d344;
    text-decoration: none;

}

.header3_right{
    color: #666;
    font-weight: 600;
    padding-right: 15px;
    cursor: pointer;
}

.header3_right:hover {
    transition: .1s;
    color: #00d344;
}

.header3_border {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}


/* main */

main {
    background: lightyellow;
    height: 965px;
}

#contents {
    padding: 30px 0px 0px;
    background-color: lightblue;

}

.newalbum {
    position: relative;
    float: left;
    width: 475px;
    height: 340px;
    background-color: lightcoral;
}

.promotion {
    position: relative;
    float: left;
    width: 235px;
    height: 340px;
    background-color: lightgreen;
    padding-left: 10px;

}

.login {
    position: relative;
    float: right;
    width: 280px;
    height: 115px;
    background-color: #666;
    padding-top: 25px;
}

.event {
    position: relative;
    float: right;
    width: 280px;
    height: 190px;
    background-color: blue;
    padding-top: 10px;
}

.hottrend {
    position: relative;
    float: left;
    width: 705px;
    height: 470px;
    background-color: blueviolet;
    margin-top: 32px;
    margin-bottom: 50px;
}

.melonchart {
    position: relative;
    float: right;
    width: 280px;
    height: 470px;
    background-color: goldenrod;
    margin-top: 32px;
    margin-left: 23px;
}

#notice {
    width: 1008px;
    height: 42px;
    background-color: plum;
    position: relative;
    overflow: hidden;
}

footer {
    height: 205px;
    background: navy;
    margin: 0px 20px;
}

.footer_menu1 {
    height: 52px;
    background-color: skyblue;

}

.footer_menu2 {
    height: 14px;
    margin-top: 26px;
    background-color: yellowgreen;
}

.info {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 54px;
    background-color: mintcream;
}